<!-- <link rel="stylesheet" href="/stylesheets/footer.css"> -->

<footer class="text-white py-3 mt-auto" style="background-color: #40b2f0;">
    <div class="container text-center">
        <!-- API 사용 표시 -->
        <p class="mb-2">
            This site uses the <a href="https://developers.naver.com/docs/serviceapi/search/book/book.md" class="text-white text-decoration-underline" target="_blank">Naver Book Search API</a>.
        </p>

        <!-- Copyright -->
        <p class="mb-0">
            &copy; <%= new Date().getFullYear() %> Book Search. All rights reserved.
        </p>
    </div>
</footer>
